social-media {
  display: flex;

  .social-media-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: fit-content;
    margin: 0;

    jam-icon:hover {
      background: transparentize(black, 0.9);
      border-radius: 4px;
      cursor: pointer;
    }
  }
}

